{% extends 'base.html' %}
{% block content %}

<div class="banner-area">
	<a href="{% url 'rules' %}"><div class="purple-btn banner-btn">Learn the Game</div></a>
</div>

{% include 'nav.html' %}

<div class="gallery-container">
	<div class="sorting">
		<div class="sort-cat active-tab"><a href="">Latest Configurations</a></div> | <div class="sort-cat"><a href="">Most Popular</a></div>
	</div>
	<div class="config-container">
		{% with ''|center:12 as range %}
			{% for _ in range %}
				<a href="">
					<div class="config-item">
						<div class="config-data-wrap">
							<div class="config-user">
								Config creator
							</div>
							<div class="config-title">
								Config title name
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		{% endwith %}
	</div>
</div>

{% endblock %}