{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<h2>Learn the Game of Survival</h2> 

<h3>The Rules</h3>
<ol>
    <li>Each alive cell with one or no neighbors dies, as if by solitude.</li>
    <li>Each alive cell with four or more neighbors dies, as if by overpopulation.</li>
    <li>Each alive cell with two or three neighbors survives together.</li>
    <li>Each empty cell with exactly three neighbors becomes alive.</li>
</ol>

<h3>About Conway's Game of Life</h3>
<p>ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...<br>
ipsem loram dolor sit amet...</p>

{% endblock %}