{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<h2>Learn the Game of Survival</h2> 

<h3>The Rules</h3>
<ol>
    <li>Each alive cell with one or no neighbors dies, as if by solitude.</li>
    <li>Each alive cell with four or more neighbors dies, as if by overpopulation.</li>
    <li>Each alive cell with two or three neighbors survives together.</li>
    <li>Each empty cell with exactly three neighbors becomes alive.</li>
</ol>

<h3>About Conway's Game of Life</h3>
<p class="about">Conway's Game of Life was created by British Mathematiciam John Conway in 1970. It's what is called a zero-player game and is an automation that displays cellular movements, generally step-by-step, and shows how cells evolve based on their initial state. <br>
<br>
There are many ways to codify this, and for this particular project we chose to try it out in python. There are many levels of complexity and patterns that can be created as well. Some of the most common patterns you may notice when researching this topic are configurations called blocks, bee-hives, blinkers, gliders, pulsars, and spaceships.<br>
<br>
With our game, we decided to make it even more personal by creating small, adorable Conway sprites!<br>
<br>
Overall, Conway's Game of Life is a wonderful way to experiment with computer science concepts, algorithms, and basic AI functionality. It's a fun and engaging example of cellular automation and a beautiful example of chaotic albeit patterned behavior of cellular organisms as well.   </p>

{% endblock %}