header {
    height: 300px;
    background-color: #FDCBF5;
}

h3 {
    
    align-items: left;
    padding-top: 100px;
    padding-left: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.292234px;
}

input {
    margin: auto;
    height: 30px;
    width: 425px;
    border-radius: 6px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: #572795;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    height: 38px;
    width: 430px;
    padding: 5px;
    border-radius: 6px;header {
        height: 300px;
        background-color: #FDCBF5;
    }
    
    h3 {
        
        align-items: left;
        padding-top: 100px;
        padding-left: 20px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.292234px;
    }
    
    input {
        margin: 10px;
        height: 30px;
        width: 425px;
        border-radius: 6px;
    }
    
    .btn {
        display: flex;
        flex-direction: column;
        align-content: center;

        background-color: #572795;
        color: white;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        height: 38px;
        width: 430px;
        border-radius: 6px;
    
    }
    
    p {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #000000;   
    }
    
    .helptext {
        visibility: hidden;
        display: none !important;
    }
    
    label {
        text-align: center;
        padding: 10px;
    }
    margin: auto;
    margin-top: 10px auto;
}

p {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;   
}

.helptext {
    visibility: hidden;
    display: none !important;
}