{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="sim-setup">
	<div class="setup-title">How to Play</div>
	<div class="setup-descrip">Create a survival configuration by clicking on cells to place your character, Conway, in the darkness. Add as many as you like, in whatever pattern you want. When you’re done, click “Next” to see what happens after one step in time, or “Start” to start the clock and see who survives.</div>
	<div class="setup-input">
		<form>
			<div class="set-len">
				<label for="grid-len">Length</label>
				<input type="number" id="grid-len" name="grid-len" min="3" max="50">
			</div>
			x
			<div class="set-wid">
				<label for="grid-wid">Width</label>
				<input type="number" id="grid-wid" name="grid-wid" min="3" max="50">
			</div>
			<div class="purple-btn apply-btn">Apply</div>
		</form>
	</div>
</div>

{% endblock %}