{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

{% if user.is_authenticated %}
	<div class="sim-setup">
		<div class="setup-title">How to Play</div>
		<div class="setup-descrip">Create a survival configuration by clicking on cells to place your character, Conway, in the darkness. Add as many as you like, in whatever pattern you want. When you’re done, click “Next” to see what happens after one step in time, or “Start” to start the clock and see who survives.</div>
		<div class="setup-input">
			<form>
				<div class="set-len">
					<label for="grid-len">Grid Size</label>
					<input type="number" id="grid-len" name="grid-len" min="3" max="30">
				</div>
				<div class="sprite-choice">
					<input type="radio" name="sprite" value="Conway" checked> Conway
					<input type="radio" name="sprite" value="Connie"> Connie
				</div>
				<div class="purple-btn apply-btn">Apply</div>
			</form>
		</div>
	</div>


	<script>
		var user = {{ user.username }};
	</script>

{% else %}

<div class="need-to-login">
	Oops! You must be logged in to create a configuration.
</div>

{% endif %}


{% endblock %}